<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>E-sports API</title>
</head>

<body>
    <table class="content-table">
        <thead>
            <tr>
                <th>League of Legends</th>
                <th>Counter-Strike</th>
                <th>Valorant</th>
                <th>Rainbow 6</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/antigas/lol">Antigas</a></td>
                <td><a href="/antigas/csgo">Antigas</a></td>
                <td><a href="/antigas/valorant">Antigas</a></td>
                <td><a href="/antigas/r6">Antigas</a></td>
            </tr>
            <tr>
                <td><a href="/proximas/lol">Pr贸ximas</a></td>
                <td><a href="/proximas/csgo">Pr贸ximas</a></td>
                <td><a href="/proximas/valorant">Pr贸ximas</a></td>
                <td><a href="/proximas/r6">Pr贸ximas</a></td>
            </tr>
        </tbody>

    </table>

</body>

</html>